/*
 Base Colors
*/
$white-ff: rgb(238, 235, 235);
$background-color: black;
$primary-color: F7F7F7;
/*
  Font Weight
*/

$font-size-xs: .7rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;

/*
  Border Radius
*/

$border-radius-xs: 5px;